<h3>Kõige vanemad tegemata asjad</h3>
<div class="grid grid-pad">
  <a *ngFor="let todo of todos" [routerLink]="['/detail', todo.id]" class="col-1-4">
    <div class="module todo"
    [class.valmis]="todo.isComplete"
    [class.pooleli]="!todo.isComplete">
      <h4>{{todo.name}}</h4>
    </div>
  </a>
</div>
<!--
<todo-search></todo-search>
-->