input {
  height: 2em;
  width: 17em;
  font-size: 1em;
  padding-left: .4em;
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .valmis {
    color: green;
  }
  .pooleli {
    color: white;
    background-color: #DB7C57 !important;
  }
  .todos {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 28em;
  }
  .todos li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EED;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .todos li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .todos li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .todos .text {
    position: relative;
    top: -3px;
  }
  .todos .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  button {
    font-family: Arial;
    background-color: #eed;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button.delete {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
  }