<h2>Tegemata asjade nimekiri</h2>
<div>
  <label>Uus ToDo asi:</label> <input #uusToDoAsi />
  <button (click)="add(uusToDoAsi.value); uusToDoAsi.value=''">Lisa</button>
</div>
<ul class="todos">
  <li *ngFor="let todo of todos" 
      (click)="onSelect(todo)" 
      (dblclick)="gotoDetail()"
      [class.selected]="todo === selectedTodo" 
      [class.valmis]="todo.isComplete"
      [class.pooleli]="!todo.isComplete">
    <span class="badge">{{todo.id}}</span>
    <span>{{todo.name}}</span>
    <button class="delete" (click)="delete(todo); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedTodo">
  <h2>
    '{{selectedTodo.name | uppercase}}' on ToDo-Asi staatusega '{{selectedTodo.isComplete}}'
  </h2>
  <button (click)="gotoDetail()">Vaata detailselt</button>
</div>