<div id="search-component">
    <h4>Otsing</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <div>
        <div *ngFor="let todo of todos | async" (click)="gotoDetail(todo)" class="search-result">
            {{todo.name}}
        </div>
    </div>
</div>