<div *ngIf="todo">
    <h2>'{{todo.name}}' detailid</h2>
    <div>
        <label>id: </label>{{todo.id}}
        <label>tehtud?: </label><input type="checkbox" [(ngModel)]="todo.isComplete" />
    </div>
    <div>
        <label>nimi: </label>
        <input [(ngModel)]="todo.name" placeholder="name" />
    </div>
</div>
<button (click)="goBack()">Tagasi</button>
<button (click)="save()">Salvesta</button>